<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    
  
    <urlMappings enabled="true">
      <add url="~/" mappedUrl="~/default.aspx"/>
      <add url="~/Login" mappedUrl="~/default.aspx"/>
      <add url="~/AwaitingTurn" mappedUrl="~/awaiting_turn.aspx"/>
      <add url="~/AccountClosing" mappedUrl="~/account_closing.aspx"/>
      <add url="~/ReceivedBill" mappedUrl="~/received_bill.aspx"/>
      <add url="~/CollectionEntry" mappedUrl="~/collection_entry.aspx"/>
      <add url="~/Vehicles" mappedUrl="~/details_vehicles.aspx"/>
      <add url="~/Drivers" mappedUrl="~/details_drivers.aspx"/>
      <add url="~/Parties" mappedUrl="~/details_parties.aspx"/>
      <add url="~/Reports" mappedUrl="~/reports.aspx"/>
    
    </urlMappings>
    </system.web>

</configuration>
